@using WebSiteBanSach.Models;
@model List<ChuDe>

<h2 style="margin-left:2%;font-weight:normal;color:black">Danh mục chủ đề</h2>
<hr />
@foreach (var item in Model)
{
    <a id="btnChuDe1" href="@Url.Action("SachTheoChuDe", new {@MaChuDe=item.MaChuDe })" class="button button-submit"> @item.TenChuDe</a>

}
    <a id="btnChuDeKhac" href="@Url.Action("SachTheoChuDe", new {@MaChuDe=1 })"  > Tất cả chủ đề ...</a>
<br />
<div style="clear:both"></div>
<style>
    #btnChuDe1 {
        width: 250px;
        display: block;
        font-size: 11pt;
        color: aliceblue;
        background-color: #0855bd;
        text-decoration: none
    }
        #btnChuDe1:hover {
            background-color: #000;
            transition-property: background;
        }
    
    #btnChuDeKhac {
        padding: 15px 0 15px 15px;
        width: 235px;
        display: block;
        font-size: 11pt;
        color: aliceblue;
        background-color: #00a200;
        text-decoration: none
    }
        #btnChuDeKhac:hover {
            background-color: #000;
            transition-property: background;
        }
</style>






