.headerBar {
    padding-left:5%;
    padding-top:2%;
    height:100px;
    display:flex;
}

#Logo{
    flex-grow:6;
   
}

#DangNhap_DangKi {
    margin-left: 550px;
    flex-grow: 2;
    
}
#GioHang {
    padding-left: 10px;
    flex-grow: 2;
    
}
