
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Layout/LayoutNonSlider.cshtml";
}

<h2>
    Đăng nhập
</h2>

@using (Html.BeginForm())
{   <span>Tài khoản :</span> <br />
    @Html.TextBox("txtTaiKhoan");
    <br />
    <span>Mật khẩu:</span><br />
    <input name="txtMatKhau" type="text" />
    <br />
    <p style="color:red;font-size:15pt">@ViewBag.ThongBao</p>
    <input type="submit" id="btnSubmit" name="btnSubmit" value="Đăng Nhập" /> 
    
}

