/*Div sản phẩm*/
div#SanPham {
    /*float:left;*/
    width:150px;
    margin-left:10%;
    margin-top:10px;
    display:inline-block
}
/*Div hình ảnh của sp*/
    div#SanPham img {
        width:150px;
        height:150px;
        /*padding-top:15px;
        padding-bottom:15px;*/
    }
    #ThongTin {
        border:1px solid rgba(0,0,0,.2);
        padding-top:15px;
        padding-bottom:15px;
        font-family:'Segoe UI';
        color:black;
        font-size:10pt;
        font-weight:400;
        
    }
    /*Div tên sách*/
     #TenSach {
       /*height:80px;*/
    }
    #DonGia {
         
          font-size:11pt;
    border-top:1px solid rgba(0,0,0,.2);

    }
/**/
#divBody {
    margin:auto;
}
